.container-tittle{
    display: flex;
    align-items: center;
    margin: 100px;
}
.image{
    width: 380px;
    height: 381px;
    margin-left: 40px;
}
.tittle{
   display: flex;
   flex-direction: column;
   align-items:flex-start;
}
  
.tittle > h1{
    font-weight: 700;
    font-size: 55px;
    color:#ff4081;
    text-align: left;
}
.tittle > p{
    font-weight: 300;
    font-size: 20px;
    color: #000000;  
}
.container-cursos{
    display: flex;
    flex-direction: column;
    background-color:#F6F6F6;
}
.cursos{
    display: flex;
   justify-content: center;
   padding:100px;
}
.cursos > img{
    width: 462px;
    height: 261px;
    padding: 100px;
}
.cursos >img:last-child{
    width: 380px;
    height: 498px;
}
.texto-cursos{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left:  53px;

}
.texto-cursos > h2{
    font-size: 35px;
    font-weight: 700;
    color: #ff4081;
}
.texto-cursos > p{
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    margin-top: 37px;
}
.texto-cursos >button{
    background-color: #2E948A;
    color: white;
    width: 233px;
    height: 51px;
    border-radius: 62px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 83px;
}
.linha{
    height: 5px;
    background-color: #C4C4C4;
    width: 90%;
}