.main{
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
    align-items: center;
    margin-top:100px;
    margin-bottom: 100px;
}
.form-container{
    width: 100%;
    margin: 20px;
}

.form{
    display: flex;
    flex-direction: column;
}
.form > input{
    margin-bottom: 15px;
    border-radius: 7px;
    border: 1px solid #686868 ;
    box-sizing: border-box;
    height: 32px;
}
.mensagem{
    height: 193px !important;
}
.form > input::placeholder{
    font-size: 16px;
    color: #58555d;
    font-weight: 400;
    position: absolute;
    top: 5px;
    left: 5px;
}
.form > h1{
    font-weight: 700;
    font-size: 40px;
    color: #FF4081;
}
.form > button{
    font-size: 16px;
    font-family: 'nunito';
    font-weight: 800;
    color: #FFFFFF;
    background-color: #FF4081;
    border-color: #FF4081;
    text-align: center;
    border-radius: 50px;
    bottom: -0.95%;
    width: 108px;
    height: 32px;
}

/* tablet */
@media only screen and (max-width: 768px) {
    .telefone-imagem {
        width: 300px;
    }
}

/* mobile */
@media only screen and (max-width: 480px) {
    .telefone-imagem {
        display: none;
    }
}
